#tweetPic {
  height:100px;
  width:100px;
  border-radius: 50%;
}

#tweetHeader {
  font-size: 80px;
}

#pulseStart{
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

