/* #casesEach {
  border-top: 1px solid black;
  
} */

#patientHeader{
  font-size: 80px;
  -webkit-animation: fadein 4s;
}
hr {
  background-color:black;
  width: 50%;
}

#red{
  color:red;
}

#casePage {
  background-image: url();
  background-position: center center;
  background-size: cover;

  
}


#pulseStart{
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

/* .fade
{
        opacity:0.5;
}
.fade:hover
{
        opacity:1;
} */


@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}