.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  z-index: -1;
  background-image: url("../images/homepageLogo.png");
  text-align: center;
  padding: 7rem;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 15px black;
  background-position-y: 40px; 
}

.title {
  font-size: 100px;

  
}

#doctorQuote{


}

#rows {
  margin-top: 680px;
}

.componentImg {
  height: 150px;
  width: 150px;
}


h2{
  padding-top:30px;
  padding-bottom: 10px;
  text-align: center;
}

h2:hover {
  color:black;
}
#footer {
  background-color:rgba(5, 41, 45, 0.31);
}

.rowComponent{
  /* text-align: left; */

}

.rowComponent li  {
  list-style: none;
  text-align:  left;
  margin-right: 200px;
}

.rowComponent a{
  color:black;  
}

#twitter{
  height: 40px;
  width: 100px;
}

  #search{
    border-radius: 15px;
    width:320px;
    padding:5px;
    position: absolute;
    top:350px;
    left:485px;
    outline: none;
    border:none;
    
    background-color: #8F8F8F;
    opacity:1;

  }

  ::placeholder { 
    color: white;
    opacity: 2; 
  }